@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

    /* Primary Colors */
  --primary-default: #CD2DD8; /* default color: corporate blue */

  /* Secondary Colors */
  --secondary-default: #EBC67E; /* secondary color: cream yellow */

  /* Neutral Colors */
  --tertiary-default: #FAFAFA;
  
  /* Text Colors */
  --text-primary: #404040; /* Off Black */

  --inner-bar-width: 200px;
  --inner-bar-width-lg: 96px;
  --inner-bar-width-sm: 48px;
  --outer-bar-width: 48px;
  --outer-bar-width-sm: 32px;
  --outer-bar-width-lg: 32px;
  --horizontal-bar-height: 48px;
  --maxwidth: 1440px;
  --max-content-width: calc(100% - (var(--outer-bar-width) * 2) - (var(--inner-bar-width) * 1));
  --max-content-write-width: calc(100% - (var(--outer-bar-width) * 2) - (var(--inner-bar-width) * 2));
  --max-content-write-width-lg: calc(100% - (var(--outer-bar-width-lg) * 2) - (var(--inner-bar-width-lg) * 2));
  --max-content-write-width-sm: calc(100% - (var(--inner-bar-width-sm) * 1));
  --max-content-viewport-height: calc(100vh - (var(--horizontal-bar-height) * 2));
  --heading-height: 100px;

  /* z index */
  --z-index-above: 1;
  --z-index-fixed-bars: 10;
  --z-index-base: 0;
  --z-index-above: 1;
  --z-index-below: -1;
  --z-index-fixed-bars: 10;
  --z-index-modal: 999;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--tertiary-default);
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-resize-handle {
  position: relative;
  cursor: ew-resize;
}

.custom-resize-handle::after {
  content: "";
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 20px; 
  height: 20px;
  z-index: 10;
  background: var(--primary-default); /* Adjust color */
  transform: translate(-50%, -50%);
}

