@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

    /* Primary Colors */
  --primary-default: #2B648D; /* default color: corporate blue */
  --primary-lighter: #3CADFF;
  --primary-default-filter: invert(34%) sepia(10%) saturate(3337%) hue-rotate(163deg) brightness(95%) contrast(85%);
  --primary-lighter-filter: invert(70%) sepia(61%) saturate(4388%) hue-rotate(181deg) brightness(102%) contrast(101%);

  /* Secondary Colors */
  --secondary-default: #EBC67E; /* secondary color: cream yellow */

  /* Tertiary Colors */
  --tertiary-default: #D9D9D9; /* for Background Lines */

  /* Error Colors */
  --error-default: #D82D38;

  /* Success Colors */
  --success-default: #19867F;

  /* Brand Colors */
  --brand-blue: #2B648D;
  --brand-green: #19867F; /* Celadon green */
  --brand-turquoise: #10BEB3;
  --brand-orange: #FE600E; /* Calamansi orange */
  --brand-fuschia: #CD2DD8;

  /* Neutral Colors */
  --neutral-black: #404040;
  --neutral-white: #FAFAFA;
  --neutral-grey: #7A7A7A;

    /* Background Colors */
  --background-primary: #fafafa; /* Off White, default background color */
  --background-secondary: #f0f0f0;
  --background-contrast: #404040; /* Off Blacks */
  --background-pure: #ffffff; /* Pure White */
  --background-transparent: rgba(250, 250, 250, 0.9);

  /* Text Colors */
  --text-primary: #404040; /* Off Black */
  --text-secondary: #7A7A7A; /* Sonic Silver */
  --text-contrast: #fafafa; /* White */
  --text-lighter: #D9D9D9;
  --text-link: #3CADFF;

    --inner-bar-width: 200px;
  --inner-bar-width-lg: 96px;
  --inner-bar-width-sm: 48px;
  --outer-bar-width: 48px;
  --outer-bar-width-sm: 32px;
  --outer-bar-width-lg: 32px;
  --horizontal-bar-height: 48px;
  --maxwidth: 1440px;
  --max-content-width: calc(100% - (var(--outer-bar-width) * 2) - (var(--inner-bar-width) * 1));
  --max-content-write-width: calc(100% - (var(--outer-bar-width) * 2) - (var(--inner-bar-width) * 2));
  --max-content-write-width-lg: calc(100% - (var(--outer-bar-width-lg) * 2) - (var(--inner-bar-width-lg) * 2));
  --max-content-write-width-sm: calc(100% - (var(--inner-bar-width-sm) * 1));
  --max-content-viewport-height: calc(100vh - (var(--horizontal-bar-height) * 2));
  --heading-height: 100px;

  /* z index */
  --z-index-above: 1;
  --z-index-fixed-bars: 10;
  --z-index-base: 0;
  --z-index-above: 1;
  --z-index-below: -1;
  --z-index-fixed-bars: 10;
  --z-index-modal: 999;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
